.measure-path {
  background-image: url(../img/ruler.png) !important;
}

.measure-area {
  background-image: url(../img/ruler_square.png) !important;
}

.measure-perimeter {
  background-image: url(../img/ruler_perimeter.png) !important;
}